:root {
    --primary: #1a1a1a;
    --primary-text: #fff;
    --secondary: #7bc9aa;
    --secondary-text: #ffffff;
    --accent: #505050;
    --accent-text: #ffffff;

    --button-color: rgba(0, 0, 0, .45);
    --box-color: rgba(0, 0, 0, .25);

    --transparent: transparent;
}
