:root {
    --primary: #ffffff;
    --primary-text: #fff;
    --secondary: #ffffff;
    --secondary-text: #ffffff;
    --accent: #ffffff;
    --accent-text: #ffffff;

    --button-color: rgba(0, 0, 0, .45);
    --box-color: rgba(0, 0, 0, .45);

    --transparent: transparent;
}
